<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Chat App</title>
    <link rel="stylesheet" href="css/style.css">
</head>

<body>
    <div class="app-container">

        <aside class="sidebar">
            <div class="sidebar-header">
                <h2>Chats</h2>
                <button id="menu-btn" title="Menu">⋮</button>
            </div>
            <div class="search-bar">
                <input type="text" placeholder="Search...">
            </div>
            <ul class="contact-list">
                <li class="contact active">
                    <div class="avatar">K</div>
                    <div class="contact-info">
                        <span class="name">pawan</span>
                        <span class="preview">Where is the nearest...</span>
                    </div>
                </li>
                <li class="contact">
                    <div class="avatar">M</div>
                    <div class="contact-info">
                        <span class="name">pawan</span>
                        <span class="preview">Thanks again you have been...</span>
                    </div>
                </li>
            </ul>
        </aside>

        <main class="chat-area">
            <header class="chat-header">
                <h2 id = "chat-name">pawan</h2>
                <button type = 'button' id = "create-room" class = "create-room">create group</button>
            </header>

            <div class="messages-container" id="messages-container">
                
            </div>

            <form class="message-input-area" id="chat-form">
                <input type="text" id="message-input" placeholder="Type a message..." required autocomplete="off">
                <button type="submit">Send</button>
            </form>
        </main>

    </div>
    <script src="https://cdn.jsdelivr.net/npm/axios/dist/axios.min.js"></script>
    <script src="/socket.io/socket.io.js"></script>
    <script src="/js/index.js"></script>
</body>

</html>